<!-- NAVBAR -->
<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon is-medium text-purple mr-2">
                    <img src="/assets/img/logo.svg" alt="{{ site.title}} Logo" width="32" height="32">
                </span>
                <strong class="is-size-4 text-blue">{{ site.title }}</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                     {%- for item in site.data.links -%}
           <a class="navbar-item" href="{{ item.url }}">{{ item.title | escape }}</a>
          {%- endfor -%}
      
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <!-- <a class="button is-brand-orange">
                            <strong>Get Started</strong>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>