
<!-- PROGRAMS SECTION -->
  <section id="products" class="section py-6 has-background-light">
    <div class="container">
      <div class="has-text-centered mb-6">
        <h2 class="title is-3 text-blue">Core Artifacts</h2>
        <p class="subtitle is-5 has-text-grey">Key outputs from the OpenCsi project</p>
      </div>

      <div class="columns">
      {% for card in site.products %}
      {% include card.html %}
{% endfor %}

   <!--        <div class="column is-4">
          <div class="card card-custom">
            <div class="card-content">
              <span class="icon is-large text-purple mb-3"><i class="fas fa-code-branch fa-2x"></i></span>
              <p class="title is-4">Open Rules Engine</p>
              <p class="subtitle is-6 has-text-grey mt-2">
                Developing robust, deterministic execution engines built directly against official clinical specifications.
              </p>
            </div>
          </div>
        </div>

  
        <div class="column is-4">

      <div class="card card-custom">
            <div class="card-content">
              <span class="icon is-large text-purple mb-3"><i class="fas fa-book-medical fa-2x"></i></span>
              <p class="title is-4">Specification Standards</p>
              <p class="subtitle is-6 has-text-grey mt-2">
                Translating complex CDC guidelines and clinical documentation into computable machine-readable formats.
              </p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card card-custom">
            <div class="card-content">
              <span class="icon is-large text-purple mb-3"><i class="fas fa-users-gear fa-2x"></i></span>
              <p class="title is-4">Community & Adoption</p>
              <p class="subtitle is-6 has-text-grey mt-2">
                Supporting healthcare providers, developers, and researchers in integrating open CDSI frameworks.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>